* {
    margin: 0px;
    padding: 0px;
}

.idea,
.look-around {
    margin: 60px 0px 0px 5%;
    /* margin-top:  */
}

h2 {
    font-size: 25px;
    padding-bottom: 24px;
}

.idea-card,
.look-around-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

div.city-card {
    height: 308px;
    width: 23.5%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    text-decoration: none;
}

.city-card :hover {
    cursor: pointer;
}

.city-image {
    height: 50%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.inner-seoul {
    background-color: #d93b30;
    color: #ffffff;
    height: 50%;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.inner-incheon {
    background-color: #bc1a6e;
    color: #ffffff;
    height: 50%;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.inner-daegu {
    background-color: #de3151;
    color: #ffffff;
    height: 50%;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.inner-daejeon {
    background-color: #cc2d4a;
    color: #ffffff;
    height: 50%;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.inner-content {
    padding: 20px 16px 16px;
}

.city-name {
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 5px;
}

.city-distance {
    font-size: 15px;
}

.while-travel {
    background: url("https://a0.muscache.com/im/pictures/3290306e-8e26-4c77-a96a-777e554c5222.jpg?im_w=320");
    background-size: cover;
    height: 500px;
    width: 49%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.at-home {
    background: url("https://a0.muscache.com/im/pictures/0fa7e0a7-c3c2-410a-b5c0-567cfca193cb.jpg?im_w=320");
    background-size: cover;
    height: 500px;
    width: 49%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.look-around-card-inner {
    margin: 25px;
}

span.while-travel,
span.at-home {
    font-size: 34px;
    font-weight: 600;
    color: white;
    padding-bottom: 20px;
    height: min-content;
    width: max-content;
    background: none;
}

div.exp-button {
    background-color: white;
    color: black;
    height: min-content;
    width: max-content;
    padding: 14px 24px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

div.exp-button:hover {
    cursor: pointer;
}
